.box {
  width: 300px;
  height: 300px;
  background-color: darkslateblue;
  animation-name: lightbox;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes lightbox {
  0% {
    background-color: rgb(196, 192, 221);
    margin-left: 0px;
  }
  50% {
    background-color: lightblue;
    margin-left: 200px;
  }
  100% {
    background-color: rgb(213, 224, 192);
    margin-left: 250px;
  }
}
